body
{

}

#h1a
{
	margin:0;
	text-align: center;
	padding-top: 10px;
}

#table2
{
	font-size: 30px;
	border:6px solid purple;
}

#tra2
{
	background-color: #E59866;
}

#tra3
{
	background-color: #D98880 ;
}

#tra1
{
	background-color: #5DADE2
}

#hr1
{
    border-style:none;
    width:330px;
    border-top-style:solid;
    border-width: 5px;
    border-color:blue;
}

#hr2
{
    border-style:none;
    border-top-style:dotted;
    border-width: 5px;
    border-color:grey;
}

#hr3
{
    border-style:none;
    width:430px;
    border-top-style:solid;
    border-width: 5px;
    border-color:blue;
}

#table1
{
	font-size: 30px;
	border:10px solid silver;
}

.td1
{
	background-color: #ccf2ff;
	text-align: center;
}

.td2
{
	background-color: #ffe6ff;
	text-align: center;
	color:blue;
}

.td3
{
	background-color:#ccffeb;
	text-align: center;
	color:red;
}

.td4
{
	text-align: center;
	background-color: #fff0e6;
	color:green;
}

.td5
{
	text-align: center;
	background-color: #ebebe0;
	color:red;
}

.e
{
	font-size: 35px;
	color: black;
}

#p1
{
	padding-left: 8px;
	border:black 2px solid;
}

#but1
{
	margin-bottom: 30px;
	margin-left: 10%;
}

#but2
{
	margin-bottom: 30px;
	margin-left: 25%;
}